<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type= "RogueCoders.Feature.SitecoreMarketPlaceAPI.ServicesConfiguration.ServiceConfigurator, RogueCoders.Feature.SitecoreMarketPlaceAPI"/>
    </services>

    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                           type="RogueCoders.Feature.SitecoreMarketPlaceAPI.HttpRoutes.RegisterHttpRoutes,RogueCoders.Feature.SitecoreMarketPlaceAPI" />

      </initialize>
    </pipelines>
  </sitecore>
</configuration>
